/* FRUTIGER AERO STYLE FOR CSS */

.f-aero-container {
    max-width: 950px;
}

.f-aero-header {
    background-color: rgba(0, 0, 0);
    background: linear-gradient(180deg, rgba(148, 148, 148, .9) 0, rgba(71, 71, 71, .9) 20%, rgba(19, 19, 19, .9) 40%, rgba(7, 7, 7, .93) 100%);
    border-right: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    border-top: 2px solid #4e4e4e;
    border-radius: 70px 80px 0 0;
    padding: 15px 10px 13px 30px;
    backdrop-filter: blur(1px) saturate(150%);
    box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;
    max-height: 100px; 

    img {
        border-radius: 100%;
        max-height: 100px;
    }

    h1 {
        font-size: clamp(1.2rem, 2vw, 2rem);
    }

    h2 {
        font-size: clamp(0.6rem, 2vw, 1.4rem);
        color: #c9c9c9;
    }
}

.f-aero-main {
    height: 75vh;
}

.f-aero-content {
    background: rgba(39, 39, 39, .7);
    border-right: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    border-bottom-right-radius: 3px;
    backdrop-filter: blur(1px) saturate(150%);
    box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;
    color: #dadada;
    padding: 12px 10px 8px 10px;
    /* height: 75vh; */
    /* width: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
}

.f-aero-menu {
    background-color: rgba(20, 20, 20, .85);
    border-right: 1px solid #474747;
    border-left: 1px solid #474747;
    border-bottom: 1px solid #474747;
    border-bottom-left-radius: 40px;
    backdrop-filter: blur(1px);
    box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;
    display: block;
    /* height: 75vh; */
    /* height: 710px; */
    /* min-width: 120px; */
    /* max-width: 250px; */
    padding: 8px 11px 14px 11px;
    overflow: auto;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
  .f-aero-header {
    border-radius: 0px;
  }

  .f-aero-main {
    height: 100vh;
  }
}